<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="back">
            <a class="btn btn-success" href="main.html ">Back</a>
        </div>
        <div class="col">
            <div id="timetable">
                <div class="top" align="center">
                    <label>
                        <input type="checkbox" checked="checked" />
                        <span class="colorBlue">выбрать рейс</span>
                    </label>
                    <label>
                        <input type="checkbox" checked="checked" disabled/>
                        <span>Персональные данные</span>
                    </label>
                    <label>
                        <input type="checkbox" checked="checked" disabled/>
                        <span>Оплата</span>
                    </label>
                    <label>
                        <input type="checkbox" checked="checked" disabled/>
                        <span>Завершие заказа</span>
                    </label>
                </div>
                <div class="input-field col toCity">
                    <label for="toCity">to City</label>
                    <input type="text" id="toCity" v-model="send.toCity"/>
                </div>
                <div class="col filterCity">
                    <input class="btn btn-success" type="submit" value="Найти рейсы" @click="findByFilter()"/>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>№ рейса</th>
                        <th>Направление</th>
                        <th>время вылета</th>
                        <th>Времы прилета</th>
                        <th>Цена</th>
                        <th>Компания</th>
                        <th>Самолет</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="elem in timetable">
                        <td>{{elem.numberFlight}}</td>
                        <td>{{elem.toCity}}</td>
                        <td>{{elem.sending}}</td>
                        <td>{{elem.arrive}}</td>
                        <td>
                            Эконом:{{elem.businessClass}}p.<br/>
                            VIP:{{elem.firstClass}}p.
                        </td>
                        <td>{{elem.company}}</td>
                        <td>{{elem.airplane.model}}</td>
                        <td>
                            <a class="btn btn-success" @click="saveFlight(elem)">Забронировать</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .toCity{
        margin-left: 100px;
        width: 500px;
    }
    .filterCity{
        margin-top: 30px;
    }
    .back{
        padding-top: 50px;
    }

    .colorBlue{
        color: blue;
    }
    body{
        background: darkcyan;
    }
    .container{
        background: white;
        height: 900px;
        width: 1200px;
        padding-left: 130px;
    }
</style>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
<script src="js/index.js"></script>
</body>
</html>