<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="index.html">
                <div class="cub">
                    <h2>Вылет</h2>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="arrive.html">
                <div class="cub">
                    <h2>Прилет</h2>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="findTicket.html">
                <div class="cub">
                    <h3>Найти билет</h3>
                </div>
            </a>
        </div>

    </div>
</div>
<style>
    .cub:hover {
        background: white;
        color: darkcyan;
    }

    .cub {
        width: 200px;
        height: 200px;
        background: darkcyan;
        color: white;
        padding-top: 30px;
        padding-left: 15px;
    }
    .container{
        background: darkcyan;
        width: 1600px;
        height: 900px;
        padding-top: 200px;
        padding-left: 300px;
    }
</style>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
<script src="js/index.js"></script>
</body>
</html>